p {
 color: rgb(19, 20, 20);
 font-family:"BlinkMacSystemFont"
}
strong {
  color:aliceblue;
  font-family: "Menlo"
}

h1{
    background-color:##8A2BE2;
    text-align:center;
}

h6{
    background-color:##8A2BE2;
    text-align:center;
}

.container{
  background-color: lavendar;
}

img {
  display: inline-block;
  margin: 25px 10px;
}

.jumbotron
{
  background-image: url("https://www.esa.int/extension/pillars/design/pillars/images/nebula.jpg")
}